@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: nunito;
    background: linear-gradient(#7df196, #c2f399);
    background-attachment:fixed;
    height:100%;
}

#landing{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0px 4px #0caf2f;
}

#landing h1 {
    color: white;
    font-size: 7em;
    text-shadow: 0px 4px #57cc99;
    animation: fadeUp 1s ease 0s 1 normal forwards;
}

.btn, .btn-large {
    font-family: nunito;
    font-size: 1.5em;
    height: 35px;
}

.btn-large {
    height: 50px;
}

ul li{
    margin: 20px 0;
}

#login .btn {
    animation: fadeUp 1.5s ease 0s 1 normal forwards;
    background-color: #69d482;
}

#signup .btn-large {
    animation: fadeUp 2s ease 0s 1 normal forwards;
    background-color: #33aba5;
}

@keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}