#assembly-builder {
    border: solid 1px black;
    box-sizing: border-box;
    float: left;
    min-height: 100px;
}

.instruction-entry {
    width: 300px;
    height: 75px;
    border: solid 1px black;
    pointer-events: auto;
}

.ghost-instruction {
    opacity: 0.5;
}
#instruction-list {
    width: 300px;
    float: left;
    margin: 50px;
    border: 1px solid black;
    min-height: 75px;
}
.instruction {
    width: 300px;
    height: 75px;
    background-color: bisque;
    border: solid 1px black;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;

}
.instruction span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 5px;
}

.instruction input {
    margin: 5px;
}

.instruction-moving {
    position: relative;
    pointer-events: none;
}

.instruction-parameter {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: white;
    display: inline-block;
    margin: 5px;
}

.game-value {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

#game-values {
    float: left;
    width: 50px;
    border: 1px solid black;
    min-height: 50px;
}

.game-register {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

#game-registers {
    float: left;
    width: 50px;
    border: 1px solid black;
    min-height: 50px;
}

#question {
    float: left;
    width: 200px;
}

#game {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#trash {
    position: absolute;
    left: 500px;
    top: 500px;
}

#trash img {
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
}