#assembly-builder {
    position: absolute;
    box-sizing: border-box;
    min-height: 200px;
    height: 100%;
    width: 100%;
    list-style: none;
    display: inline-block;
    top: 0px;
    padding-top: 5px;
}

.instruction-entry {
    width: 300px;
    height: 75px;
    border: solid 1px black;
    pointer-events: auto;
}

.ghost-instruction {
    opacity: 0;
}

.sortable-ghost {
    opacity: 1;
}
#instruction-list {
    margin: auto;
    min-height: 75px;
    width: 80%;
}

#instruction-list .instruction {
    margin: 10px;
}

.instruction {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #c7f9cc;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 65px;
}

#assembly-builder .instruction {
    width: 90%;
    margin-left: 10px;
}

.instruction span {
    margin-left: 10px !important;
    margin-right: 10px !important;
    display: inline-block;

}

.instruction input {
    height: 30px;
    margin: 5px;
    text-align: center;
    margin-bottom: 0px !important;
    font-size: 15px;
}

.instruction-parameter {
    width: 30px !important;
    height: 30px !important;
    padding: 5px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}


#game {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#trash-container {
    position:absolute;
    height: 10px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    top: 50%;
    

}

#trash {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#trash img {
    width: 80px;
    height: 80px;

}

.hidden {
    display: none;
}

.highlight {
    background-color: azure;
}

.content {
    padding: 20px 20px;
}

.disabled {
    pointer-events: none;
}

#editor {
    margin-top: 7.5px;
    min-height: 600px;
    height: 600px;  
}

#instruction-title {
    font-weight: bold;
    justify-content: center;
    padding: 15px;
}

#instruction-title-div {
    border-bottom: 1px solid #ddd;
}

#editor-tools {
    position: relative;
    width: 25%;
    height: 100%;
    overflow-y: scroll;
}

.instruction-number {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

#instruction-numbers {
    width: 50px;
    display: inline-block;
    text-align: center;
}

#instructions {
    width: 75%;
    position: relative;
    padding-left: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
}

.fade {
    opacity: .2;
}

#winning-modal {
    z-index: 80;
    width: 500px;
    text-align: center;
}

#winning-modal h3 {
    margin-top: 10px;
    font-weight: bold;
}

#winning-modal hr {
    background-color: #ddd;
    height: 1px;
    border: none;
}

#tutorial-modal h4 {
    text-align: center;
}
#tutorial-modal {
    width: 600px;

}

.code {
    background-color: #d3d3d3;
}

hr {
    background-color: #ddd;
    height: 1px;
    border: none;
    margin: 0px;
    padding: 0px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 2em;
    color: #ffab40;
}
.separator::after {
    opacity: 0.5;
    margin-top: 0.25em;
    content: '';
    flex: 1;
    border-bottom: 1px solid #ffab40;
    margin-right: 4em;
}
  
.separator:not(:empty)::after {
    margin-left: 2em;
}

.display-puzzle:hover {
    background-color: #f5f5f5;
}

#stats-name {
    display: flex;
    margin-top: 1em;
    align-items: center;
    text-align: center;
    color: #ffab40;
}

#stats-name::before,
#stats-name::after {
    opacity: 0.5;
    margin-top: 0.25em;
    content: '';
    flex: 1;
    border-bottom: 1px solid #ffab40;
}

#stats-name:not(:empty)::after {
    margin-left: 1.5em;
    margin-right: 1.5em;
}
#stats-name:not(:empty)::before {
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.stats-header {
    text-align: center;
}

.stats-content {
    margin-left: 3em;
}

.stats-content .card {
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 0.25em;
}

.stats-content .unfinished {
    opacity: .25;
}

.right {
    position: absolute;
    right: 20px;
}

.relative {
    position: relative;
}

.flex {
    display: flex;
}

.center-align {
    justify-content: center;
}

.vertical-align {
    align-items: center;
}

.padding {
    padding: 20px;
}

.margin {
    margin: 5px;
}

.debug-button {
    width: 100px;
}

.progress {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#submit {
    width: 100%;
    height: 50px;
}

.no-padding {
    padding: 0px !important;
}