#assembly-builder {
    position: absolute;
    box-sizing: border-box;
    min-height: 200px;
    width: 100%;
    height: 100%;
    list-style: none;
    display: inline-block;
    top: 0px;
    padding-top: 5px;
}

.instruction-entry {
    width: 300px;
    height: 75px;
    border: solid 1px black;
    pointer-events: auto;
}

.ghost-instruction {
    opacity: 0;
}

.sortable-ghost {
    opacity: 1;
}
#instruction-list {
    margin: auto;
    min-height: 75px;
    width: 80%;
}

#instruction-list .instruction {
    margin: 10px;
}

.instruction {
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #c7f9cc;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: 65px;
}
.instruction span {
    margin-left: 10px !important;
    margin-right: 10px !important;
    display: inline-block;

}

.instruction input {
    height: 30px;
    margin: 5px;
    text-align: center;
    margin-bottom: 0px !important;
    font-size: 15px;
}

.instruction-parameter {
    width: 30px !important;
    height: 30px !important;
    padding: 5px;
    margin-left: 10px !important;
    margin-right: 10px !important;
}


#game {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#trash-container {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
}

#trash {
    position: absolute;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#trash img {
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
}

.highlight {
    background-color: azure;
}

.stats-entry {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    margin: 5px;
    display: inline-block;
}

.content {
    padding: 20px 20px;
}

.disabled {
    pointer-events: none;
}

#editor {
    margin-top: 7.5px;
    min-height: 600px;
    height: 600px;
    width: 100%;
    overflow-y: scroll;
}

#instruction-title {
    font-weight: bold;
    justify-content: center;
    padding: 15px;
}

#instruction-title-div {
    border-bottom: 1px solid #ddd;
}

#editor-tools {
    height: 100%;
}

.instruction-number {
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}

#instruction-numbers {
    width: 50px;
    display: inline-block;
    text-align: center;
}

#instructions {
    position: relative;
    padding-left: 0px;
}