#assembly-builder {
    border: solid 1px black;
    box-sizing: border-box;
    float: left;
}

.instruction-entry {
    width: 300px;
    height: 75px;
    border: solid 1px black;
    pointer-events: auto;
}

#instruction-list {
    width: 300px;
    float: left;
    padding: 50px;
}
.instruction {
    width: 300px;
    height: 75px;
    background-color: bisque;
    border: solid 1px black;
    box-sizing: border-box;
    text-align: center;
    line-height: 60px;

}
.instruction span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 5px;
}

.instruction input {
    margin: 5px;
}

.instruction-moving {
    position: relative;
    pointer-events: none;
}
