#assembly-builder {
    border: solid 1px black;
    box-sizing: border-box;
    float: left;
    min-height: 100px;
    width: 300px;
    list-style: none;
    margin: 0px 20px 0px 20px;
    display: inline-block;
}

.instruction-entry {
    width: 300px;
    height: 75px;
    border: solid 1px black;
    pointer-events: auto;
}

.ghost-instruction {
    opacity: 0;
}

.sortable-ghost {
    opacity: 1;
}
#instruction-list {
    width: 300px;
    float: left;
    border: 1px solid black;
    min-height: 75px;
    list-style: none;
}
.instruction {
    width: 200px;
    height: 25px;
    background-color: #c7f9cc;
    box-sizing: border-box;
    text-align: center;
}
.instruction span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 5px;
}

.instruction input {
    margin: 5px;
}

.instruction-parameter {
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: white;
    display: inline-block;
    margin: 5px;
}

.game-value {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

#game-values {
    float: left;
    width: 50px;
    border: 1px solid black;
    min-height: 50px;
}

.game-register {
    width: 30px;
    height: 30px;
    border: 1px solid black;
}

#game-registers {
    float: left;
    width: 50px;
    border: 1px solid black;
    min-height: 50px;
}

#game {
    width: 300px;
    height: 300px;
    border: 1px solid black;
}

#trash-container {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
}

#trash {
    position: absolute;
}

#trash img {
    width: 50px;
    height: 50px;
}

.hidden {
    display: none;
}

.highlight {
    background-color: azure;
}

.stats-entry {
    width: 75px;
    height: 75px;
    border: 1px solid black;
    margin: 5px;
    display: inline-block;
}

.content {
    padding: 20px 20px;
}