{% extends "base.html" %} 

{% block content %}
    <h5> Puzzles: </h5> <br> 

    <div class="row">
        {% for puzzle in puzzles %}
            <div class="col s3">
                <div class="edit-puzzle card">
                    <div class="card-content">
                        <span class="card-title">{{puzzle['id']}} {{puzzle['title']}}</span>
                        <span>{{puzzle['description']|safe}}</span>
                    </div>
                    <div class="card-action">
                        <a href="#">Edit</a>
                        <a href="/deletepuzzle/{{puzzle['id']}}">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="delete-modal" class="modal">
        <div class="modal-content">
            <h4>Are you sure?</h4>
        </div>

        <div class="modal-footer">
            <input type="submit" form="login-form" class="modal-close waves-effect waves-red btn-flat red" value="Delete">
            <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
        </div>
    </div>

    <a id="add-puzzle" class="btn-floating btn-large waves-effect waves-light modal-trigger" data-target="new-puzzle"><i class="material-icons">add</i></a>

    <div id="new-puzzle" class="modal">
        <div class="modal-content">
            <div class="row">
                <form action="/addpuzzle" method="POST" id="add-puzzle-form" class="col s12">
                    <div class="row">
                        <div class="input-field col s3">
                            <input placeholder="ID" id="id" type="number" class="validate" name="id">
                            <label for="id">Puzzle ID</label>
                        </div>
                        <div class="input-field col s3">
                            <input placeholder="Tutorial ID" id="tutorial-id" type="number" class="validate" name="tutorial-id">
                            <label for="tutorial-id">Tutorial ID</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Title" id="title" type="text" class="validate" name="title">
                            <label for="title">Title</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea placeholder="Description" id="description" class="materialize-textarea" name="description"></textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Instructions Allowed" id="instructions-allowed" type="text" class="validate" name="instructions-allowed">
                            <label for="instructions-allowed">Instructions Allowed</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Values Allowed" id="values-allowed" type="text" class="validate" name="values-allowed">
                            <label for="values-allowed">Values Allowed</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Registers Allowed" id="registers-allowed" type="text" class="validate" name="registers-allowed">
                            <label for="registers-allowed">Registers Allowed</label>
                        </div>
                    </div>

                    <!-- solution -->
                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Solution" id="solution" type="text" class="validate" name="solution">
                            <label for="solution">Solution</label>
                        </div>
                    </div>

                </form>
            </div>
                    
        </div>
        <div class="modal-footer">
            <input type="submit" form="add-puzzle-form" class="modal-close waves-effect waves-green btn-flat" value="Add">
            <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
        </div>
      </div>

{% endblock %}