{% extends "base.html" %} 

{% block content %}
    <div class="separator"><h5>Puzzles</h5></div>

    <div class="row">
        {% for puzzle in puzzles %}
            <div class="col s3">
                <div class="edit-puzzle card">
                    <div class="card-content">
                        <span class="card-title">{{puzzle['id']}} - {{puzzle['title']}}</span>
                        <span>{{puzzle['description']|safe}}</span>
                    </div>
                    <div class="card-action">
                        <a href="#" class="modal-trigger" data-target="{{puzzle['id']}}-modal">Edit</a>
                        <a href="#" class="modal-trigger" data-target="{{puzzle['id']}}-delete-modal">Delete</a>
                    </div>
                </div>
            </div>

            <div id="{{puzzle['id']}}-modal" class="modal">
                <div class="modal-content">
                    <div class="row">
                        <form action="/editpuzzle" method="POST" id="edit-puzzle-form{{puzzle['id']}}" class="col s12">
                            <div class="row">
                                <div class="input-field col s3">
                                    <input readonly placeholder="ID" id="id" type="number" class="validate" name="id" value="{{puzzle['id']}}">
                                    <label for="id">Puzzle ID</label>
                                </div>
                                <div class="input-field col s3">
                                    <input placeholder="Tutorial ID" id="tutorial-id" type="number" class="validate" name="tutorial-id" value="{{puzzle['tutorialid']}}">
                                    <label for="tutorial-id">Tutorial ID</label>
                                </div>
                                <div class="input-field col s6">
                                    <input placeholder="Title" id="title" type="text" class="validate" name="title" value="{{puzzle['title']}}">
                                    <label for="title">Title</label>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea placeholder="Description" id="description" class="materialize-textarea" name="description">{{puzzle['description']}}</textarea>
                                    <label for="description">Description</label>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Instructions Allowed" id="instructions-allowed" type="text" class="validate" name="instructions-allowed" value="{{puzzle['instructionsallowed']}}">
                                    <label for="instructions-allowed">Instructions Allowed</label>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Values Allowed" id="values-allowed" type="text" class="validate" name="values-allowed" value="{{puzzle['valuesallowed']}}">
                                    <label for="values-allowed">Values Allowed</label>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Registers Allowed" id="registers-allowed" type="text" class="validate" name="registers-allowed" value="{{puzzle['registersallowed']}}">
                                    <label for="registers-allowed">Registers Allowed</label>
                                </div>
                            </div>
        
                            <div class="row">
                                <div class="input-field col s12">
                                    <input placeholder="Solution" id="solution" type="text" class="validate" name="solution" value="{{puzzle['solution']}}">
                                    <label for="solution">Solution</label>
                                </div>
                            </div>

        
                        </form>
                    </div>
                            
                </div>
                
                <div class="modal-footer">
                    <input type="submit" form="edit-puzzle-form{{puzzle['id']}}" class="modal-close waves-effect waves-green btn-flat" value="Change">
                    <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
                </div>
            </div>

            <div id="{{puzzle['id']}}-delete-modal" class="modal">
                <div class="modal-content">
                    <div class="row">
                        <form action="/deletepuzzle" method="POST" id="delete-form" class="col s12">
                            <h4>Are you sure?</h4>
                        </form>
                    </div>
                </div>
        
                <div class="modal-footer">
                    <input type="submit" form="delete-form" class="modal-close waves-effect waves-red btn-flat red" value="Delete" name="{{puzzle['id']}}">
                    <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
                </div>
            </div>
        {% endfor %}
    </div>

    <a id="add-puzzle" class="btn-floating btn-large waves-effect waves-light modal-trigger" data-target="new-puzzle"><i class="material-icons">add</i></a>

    <div id="new-puzzle" class="modal">
        <div class="modal-content">
            <div class="row">
                <form action="/addpuzzle" method="POST" id="add-puzzle-form" class="col s12">
                    <div class="row">
                        <div class="input-field col s3">
                            <input placeholder="ID" id="id" type="number" class="validate" name="id">
                            <label for="id">Puzzle ID</label>
                        </div>
                        <div class="input-field col s3">
                            <input placeholder="Tutorial ID" id="tutorial-id" type="number" class="validate" name="tutorial-id">
                            <label for="tutorial-id">Tutorial ID</label>
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Title" id="title" type="text" class="validate" name="title">
                            <label for="title">Title</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <textarea placeholder="Description" id="description" class="materialize-textarea" name="description"></textarea>
                            <label for="description">Description</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Instructions Allowed" id="instructions-allowed" type="text" class="validate" name="instructions-allowed">
                            <label for="instructions-allowed">Instructions Allowed</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Values Allowed" id="values-allowed" type="text" class="validate" name="values-allowed">
                            <label for="values-allowed">Values Allowed</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Registers Allowed" id="registers-allowed" type="text" class="validate" name="registers-allowed">
                            <label for="registers-allowed">Registers Allowed</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="Solution" id="solution" type="text" class="validate" name="solution">
                            <label for="solution">Solution</label>
                        </div>
                    </div>

                </form>
            </div>
                    
        </div>
        <div class="modal-footer">
            <input type="submit" form="add-puzzle-form" class="modal-close waves-effect waves-green btn-flat" value="Add">
            <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
        </div>
      </div>

{% endblock %}