<!DOCTYPE html>
<html>
    <head>
        {% block head %}{% endblock %}
        <title>{% block title %} {% endblock %} </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/layout.css">
        <link rel="stylesheet" href="/static/css/design.css">
        
        
        
    </head>
    <body>
        <ul id="user-dropdown" class="dropdown-content">
            <li><a href="#!">Profile</a></li>
            <li class="divider"></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    
        <nav>
            <div class="nav-wrapper">
            <a href="#" class="brand-logo"> Assemble't </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a class="dropdown-trigger" href="#!" data-target="user-dropdown"><i class="material-icons right">account_circle</i><span id="user">{{user}}</span></a></li>
            </ul>
            </div>
        </nav>
        
        <div id="content">
            {% block content %} {% endblock %}
        </div>

        
        <script src="/static/js/css.js"></script>
    </body> 
</html>