<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/layout.css">
        <link rel="stylesheet" href="/static/css/design.css">
        <link rel="stylesheet" href="static/css/landing.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <title> Assemble't </title>
    </head>
    <body>
        <div id="landing">
            <h1> Assemble't</h1>
            <ul>
                <li id="login"><button class="waves-effect waves-light btn modal-trigger" data-target="login-modal"> Login </button></li>
                <li id="signup"><button class="waves-effect waves-light btn-large modal-trigger" data-target="signup-modal"> Sign Up </button></li>
            </ul>
        </div>

        <div>
            {% for msg in get_flashed_messages() %} 
                {{msg}}
            {% endfor %}
        </div>

        <div id="signup-modal" class="modal">
            <div class="modal-content">
                <div class="row">
                    <form id="signup-form" class="col s12" action="/adduser" method="POST"></form>
                        <div class="row">
                            <div class="input-field">
                                <input form="signup-form" id="signup-username" type="text" class="validate" name="username">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input form="signup-form" id="signup-password" type="password" class="validate" name="password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input form="signup-form" id="confirm-password" type="password" class="validate" name="confirm_password">
                                <label for="confirm-password">Confirm Password</label>
                                <span id="confirm-password-error" class="hidden">Passwords do not match</span>
                            </div>
                        </div>
                    </form>
                </div>          
            </div>
            <div class="modal-footer">
                <input type="submit" form="signup-form" id="submit-signup" class="modal-close waves-effect waves-green btn-flat" value="Sign Up">
                <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
            </div>
        </div>

          <div id="login-modal" class="modal">
            <div class="modal-content">
                <div class="row">
                    <form id="login-form" class="col s12" method="POST" action="/login">
                        <div class="row">
                            <div class="input-field">
                                <input form="login-form" id="login-username" type="text" class="validate" name="username">
                                <label for="username">Username</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input form="login-form" id="login-password" type="password" class="validate" name="password">
                                <label for="password">Password</label>
                            </div>
                        </div>
                    </form>
                </div>
                        
            </div>
            <div class="modal-footer">
                <input type="submit" form="login-form" class="modal-close waves-effect waves-green btn-flat" value="Log In">
                <button class="modal-close waves-effect waves-green btn-flat">Cancel</button>
            </div>
          </div>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="/static/js/css.js"></script>
        <script src="/static/js/login.js"></script>
    </body> 
</html>