<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/layout.css">
        <link rel="stylesheet" href="/static/css/design.css">
        <link rel="stylesheet" href="static/css/landing.css">
        <title> Assemble't </title>
    </head>
    <body>
        <div id="landing">
            <h1> Assemble't</h1>
            <ul>
                <li id="login"><button class="waves-effect waves-light btn"> Login </button></li>
                <li id="signup"><button class="waves-effect waves-light btn-large"> Sign Up </button></li>
            </ul>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body> 
</html>