{% extends "base.html" %}
{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        
{% endblock %} 
{% block content %}
    <div id="winning-modal" class="modal">
        <div class="modal-content">
            <div class="row">
                <h3>Congratulations</h3>
            </div>          
            <hr>
            You have successfully completed Problem {{data['id']}}. It took <span id="attempts">{{data['attempts']}}</span> attempts
            totalling <span id="time-taken">{{data['time_taken']}}</span> seconds.
        </div>
        <div class="modal-footer">
            
        </div>
    </div>
    <button id="display-winning-modal" class="modal-trigger hidden" data-target="winning-modal"></button>
    {% if data['tutorial'] != None %}
    <div id="tutorial-modal" class="modal">
        <div class="modal-content">
            <h4>{{data['tutorial']['title']}}</h4>
            <hr>
            {{data['tutorial']['content']|safe}}
        </div>
    </div>
    <button id="display-tutorial-modal" class="modal-trigger hidden" data-target="tutorial-modal"></button>
    {% endif %}
    <div class="content">
        <div class="row">
            <div class="col s3">
                <ul class="collapsible">
                    <li class="active">
                        <div class="collapsible-header relative" style="color: #38a3a5;">
                            <i class="material-icons">expand_more</i>Problem&nbsp;<span id="game-id">{{data['id']}} </span> <span class={{"" if data['solved'] else "hidden"}} id="solved-span">&nbsp;- SOLVED</span>
                            <div class="right-justify"><a id="quit" href="/home">Back to home</a></div>
                        </div>
                        <div class="collapsible-body"> 
                            Question: <span id="question">{{data['question']|safe}}</span> <br> <br>
                            Registers Allowed: <span id="game-registers">{{data['registers_allowed']|join(", ")}}</span><br>
                            Values Allowed: <span id="game-values">{{data['values_allowed']|join(", ")}}</span>
                        </div>
                    </li>
                </ul>
                <ul class="collapsible z-depth-2">
                    <li>
                        <div class="flex center-align vertical-align collapsible-header no-padding">
                            <button id="submit" class="waves-effect waves-light btn-flat">Submit</button>
                        </div>
                        <hr>
                        <div id="debug-tools" class="collapsible-body padding">
                            <span id="debug-msg">The answer you submitted was incorrect. Step through to review your solution.</span> <br> <br>
                            <div class="flex vertical-align">
                                <button id="autoplay" class="waves-effect waves-light btn-flat debug-button  valign-wrapper">Play</button>
                                <button id="step" class="waves-effect waves-light btn-flat debug-button valign-wrapper">Step</button>
                                <div class="progress margin">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                            
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="col s6">
                <div id="editor" class="z-depth-2">
                    <div class="col s2" id="editor-tools">
                        <div class="row" id="instruction-title-div">
                            <span id="instruction-title" class="valign-wrapper">Instructions</span>
                        </div>
                        <div class="row">
                            <div id="instruction-list">{{data['instructions_allowed']|join(",")}}</div>
                        </div>
                        <div id="trash-container">
                            <div id="trash" class="hidden"></div>
                        </div>
                    </div>
                    <div class="col s5" id="instructions">
                        <div id="instruction-numbers"></div>
                        <div id="assembly-builder"></div>
                    </div>
                </div>
                
            </div>

            <div class="col s3">
                <canvas id="canvas" height="600"></canvas>
            </div>

            <br>

            <div id="register-values" style="display:inline-block"></div>
                
        </div>

        
    </div>
    

    <script src="/static/js/html-elements.js"></script>
    <script src="/static/js/game.js"></script>
    <script src="/static/js/instructions.js"></script>
    <script src="/static/js/assembly-builder.js"></script>

{% endblock %}