{% extends "base.html" %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
        
{% endblock %} 
{% block content %}


    <ul id="user-dropdown" class="dropdown-content">
        <li><a href="#!">Profile</a></li>
        <li class="divider"></li>
        <li><a href="#!">Logout</a></li>
    </ul>

    <nav>
        <div class="nav-wrapper">
        <a href="#" class="brand-logo"> Assemble't </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="dropdown-trigger" href="#!" data-target="user-dropdown"><i class="material-icons right">account_circle</i>ildlanor</a></li>
        </ul>
        </div>
    </nav>

    <div class="content">
        <div id="assembly-builder"></div>
        <div id="instruction-list">{{data['instructions_allowed']|join(",")}}</div>
        <div id="game-values">{{data['values_allowed']|join(",")}}</div>
        <div id="game-registers">{{data['registers_allowed']|join(",")}}</div>
        <div id="trash-container">
            <div id="trash"></div>
        </div>
        <div id="questionDiv">Problem: <span id="question">{{data['question']}}</span></div>
        <button id="submit">Submit (Execute)</button>
        <button id="step" class="hidden">Step </button>
    
        <div id="register-values" style="display:inline-block"></div>
        <br>
        <!--<canvas id="game"></canvas>-->
        <a href="/"><button id="quit">Quit</button></a>
    </div>
    

    <script src="/static/js/html-elements.js"></script>
    <script src="/static/js/game.js"></script>
    <script src="/static/js/instructions.js"></script>
    <script src="/static/js/assembly-builder.js"></script>

{% endblock %}