<!DOCTYPE html>
<html>
    <head>
        <!-- TODO: templateify the base-->

        <link rel="stylesheet" href="/static/css/layout.css">
        <link rel="stylesheet" href="/static/css/design.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>
    <body>

        <div id="assembly-builder"></div>
        <div id="instruction-list"></div>
        <div id="game-values"></div>
        <div id="game-registers"></div>
        <div id="trash"></div>
        <div id="question"></div>
        <button id="submit">Submit (Execute)</button>
        <button id="step" class="hidden">Step </button>
        TEMPORARY:
        <div id="register-values" style="display:inline-block"></div>
        <br>
        <canvas id="game"></canvas>
        <a href="/"><button id="quit">Quit</button></a>
    </body>

    <script src="/static/js/game.js"></script>
    <script src="/static/js/instructions.js"></script>
    <script src="/static/js/assembly-builder.js"></script>
    

</html>