{% extends "base.html" %} 

{% block content %}
    Username: ildlanor <br>
    Completion Status: {{(stats['solved_puzzles'] / stats['total_puzzles'] * 100)|round(1)}}% ({{stats['solved_puzzles']}} out of {{stats['total_puzzles']}} puzzles) <br>

    Puzzles: <br>
    {% for puzzle in stats['puzzles'] %}
        <div class="stats-entry">
            <span class="stats-id"> {{puzzle['id']}}</span> <br>
            <span class="stats-time-spent"> {{puzzle['time_taken']}} </span>
            <span class="stats-attempts"> {{puzzle['attempts']}} </span>
            {% if puzzle['solved'] %} 
            solved
            {% else %} 
            not solved 
            {% endif %} 
            {% if puzzle['watched'] %} 
            watched
            {% else %} 
            not watched
            {% endif %} 
        </div>
    {% endfor %}





{% endblock %}