{% extends "base.html" %} 

{% block content %}
    Username: ildlanor
    Completion Status: 40% (4 out of 10 puzzles)

    Puzzles:
    Puzzle 1: ok, time spent: 176s, attempts: 2, tutorial watched
    Puzzle 2: ok, time spent: 211s, attempts: 4, tutorial not watched
    Puzzle 3: not solved, attempts: 6, tutorial watched
    Puzzle 4: ok, time spent: 4s, attempts 1, tutorial not watched
    Puzzle 5: not solved, attempts: 0, tutorial not watched
    Puzzle 6: ok, time spent: 312s, attempts: 3, tutorial watched





{% endblock %}